// main.styl
@import '../node_modules/vuetify/src/stylus/settings/_colors'
 
$theme := {
  primary: #250858
  accent: #532380
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  success: #532380
}
@import '../node_modules/vuetify/src/stylus/main'